@import "reset";
@import "header";

* {
	box-sizing: border-box;
}

h2 {
	font-size: 1.5em;
}

.hero {
	background: url("../images/votering.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

form {
	label {
		text-align: center;
		font-size: 2em;
		margin-bottom: 2rem;
	}

	input {
		padding: 1rem;
	}

	.searchSubmit {
		display: none;
	}
}

article {
	p {
		line-height: 1.6;
	}
}


